body {
    background-image: url("background-blur.jpg");
    font-family: 'Dancing Script', cursive;
    font-size: large;
}

.container1 {
    padding: 40px;
}

.container {
    border: 4px solid lightgray;
    padding-top: 10px;
}

.container2 {
    padding-top: 25px;
    text-align: center;
}

#numberToGet {
    font-size: 25px;
}

p {
    font-family: 'Philosopher', sans-serif;
}


.container4 {
    margin: 25px;
}

.btn {
    background-image: url("background-blur.jpg");
    border: 4px solid #D8BFD8;
}

.container5 {
    margin-top: 25px;
}
